// Reset Start

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Reset End

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e2e2e2;
}

.container {
  flex: 1;
  background-color: #fff;
  max-width: 960px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0.5rem 1rem;
}

.row {
  display: flex;

  .justify-content-start {
    justify-content: flex-start;
  }

  .justify-content-center {
    justify-content: center;
  }
  .justify-content-end {
    justify-content: flex-end;
  }
  .justify-content-around {
    justify-content: space-around;
  }
  .justify-content-between {
    justify-content: space-between;
  }

  .align-items-start {
    align-items: flex-start;
  }
  .align-items-center {
    align-items: center;
  }
  .align-items-end {
    align-items: flex-end;
  }
}

.col {
  flex: 1;
  margin: 0 20px;
}

@for $i from 2 through 12 {
  .col-#{$i} {
    flex: $i;
    margin: 0 20px;
  }
}

@for $i from 1 through 5 {
  $j: 6-$i;
  h#{$i} {
    font-size: #{$j}rem;
    margin: 0.8rem 0rem;
  }
}

p {
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 1.5rem;

  .nav-item {
    flex: 1;
    background-color: #fff;
    color: #000;
    padding: 1.5rem 1rem;
    transition: border-color 0.5s, color 0.5s, background-color 0.5s;
    border-radius: 0.2rem;
    border: 2px solid #9f9f9f;
    cursor: pointer;
    text-align: center;
  }

  .nav-item:hover {
    border-color: lightgreen;
    color: darkgreen;
  }

  .nav-item:active {
    background-color: lightgreen;
  }

  .nav-link {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.5rem;
  }
}

hr {
  opacity: 0.4;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@mixin btn {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 2px solid lightgreen;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.btn-light {
  @include btn;
  background-color: #fff;
  border: 2px solid lightgreen;
  color: #000;
}

.btn {
  @include btn;
  background-color: darkgreen;
  color: white;
}

.btn-sm {
  @include btn;
  padding: 0.25rem 0.85rem;
  font-size: 1rem;
  color: #000;
}

.btn-light:hover {
  border: 2px solid darkgreen;
}

.btn-light:active {
  background-color: lightgreen;
}

.btn:hover {
  border: 2px solid darkgreen;
}

.btn:active {
  background-color: lightgreen;
}

.footer {
  background-color: #2f2f2f;
  flex: 1;
  color: #fff;
  width: 960px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-wrap: wrap;
  }
}
